/*CSS body góry do dołu jadą*/

/*body {
    font-family: 'Segoe UI',Verdana, Geneva, Tahoma, sans-serif;
}*/

/* to jest bardziej specyficzne wiec nie zostanie nadpisane stylem dla zwyklego input*/
/*input[type=submit] {*/ /*tylko dla input typu submit*/
    /*width: auto
}

input, textarea {*/ /*Dla obu selectorów po przecinku ile chcemy*/
    /*font-size: 18px;
    width: 200px;
}

label {
    font-size: 16px;
}

#theForm {*/ /* id="xxxx"*/
    /*background-color:#dfdfdf
}

#theForm input[type=submit]{*/ /* wewnątrz elementu - input wenątrz theForm gdy jest spacja miedzy elementami*/
    /*background-color:green;
    color:white;
}

ul.product-props {*/ /* class="xxxx" - gdy nie ma spacji to ul typu product-props*/
    /*font-size:small;
}

ul.product-props li{
    list-style-type:none;
}

.product-info{
    border:1px solid grey;
    display:inline-block;*/ /*zmniejsza ramke do wielkosci obrazka - w przypadku block jest na cala szerokosc strony*/
    /*padding:8px 2px;*/ /*top right down left   gdy 2 wartości to :top bottom -- padding jest wśrodku border*/
    /*margin: 2px;*//* margin jest na zewnatrz border*/
    /*width:450px;
    background-color: lightgray;
    border-radius:5px;
}

.product-info img{
    margin: 3px;
    float:left;*/ /*Powoduje ze nie jest pod spodem*/
    /*border:1px solid black;
    max-width: 150px;*/ /*maxymalny rozmiar obrazka*/
/*}

#loginToggle{
    cursor:pointer;
}
.popup-form {
    padding:5px;
    border: 2px black inset;
    display:inline-block;
}
.popup-form input{
    width:200px;
}
    .popup-form label {
        width: 150px;
        display: inline-block;*/
        /*zeby width dzialal*/
    /*}

    .popup-form input[type=checkbox], .popup-form input[type=submit]{
        width:auto;*/ /*zrob jak najmniejsze*/
    /*}

menu li {
    display:inline;
}

menu li::after {*/  /*Oznacz że zawsze po li w menu chce coś zrobić*/
    /*content: ' |';
}
menu li:last-of-type::after {*/ /*oznacza co zrobić po ostatnim typu li*/
    /*content: '';
}*/